<!DOCTYPE html>

<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/CSS/styles.css" />
    <title>Welcome Traveler</title>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        <nav class="navbar nav mynavbar">
            <div class="nav-bar-holder">
                <div class="top-section">
                </div>
                <div class="bottom-section">
                    <div class="link-holder container">
                        @Html.ActionLink("Home", "Index", "Home") | 
                        @if (User.Identity.IsAuthenticated)
                        {
                            @using (Html.BeginForm("Logoff", "Account"))
                            {
                                <input type="submit" value="Log Out" class="btn btn-warning" />
                            }
                        }
                        else
                        {
                            @Html.ActionLink("Login", "Login", "Account")
                        }
                    </div>
                </div>

            </div>
        </nav>
        <div class="top-buffer"></div>
            @RenderBody()
    </div>
</body>
</html>
